PORT = 
PROJECT =
GEMINI_API_KEY =

CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET =
CLOUDINARY_NAME = 
CLOUDINARY_URL = 

SUPABASE_URL = 
SUPABASE_ANON_KEY =   
SUPABASE_PROJECT_ID   = 
SUPABASE_DATABASE_URL = 

GROQ_API_URL = 
GROQ_API_KEY = 

PINECONE_API ="
PINECONE_INDEX_HOST = 

HYPERBROWSER_API_KEY = 